
* {
  font-family: "Work sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html, body, #root {
  height: 100%;
}

html {
  color: white;
  background-color: #1a1a1a;
}

.board {
  width: 24em;
  height: 24em;
  position: relative;
  opacity: 0;
  transition: opacity 400ms ease;
  transform: scale(0.92);
}

@media (max-width: 28em) {
  .board {
    width: 20em;
    height: 20em;
  }
}

@media (max-width: 24em) {
  .board {
    width: 18em;
    height: 18em;
  }
}

@media (max-width: 20em) {
  .board {
    width: 16em;
    height: 16em;
  }
}

.board.ready {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.6s 0.2s ease-out, transform 0.6s ease;
}

.hole {
  display: none;
}

.image.board .tile {
  color: transparent;
}

.tile {
  font-size: 125%;
  color: #47b198;
  background-color: #eee;
  position: absolute;
  border-radius: 4px;
}

.tile:disabled {
  color: silver;
}

.board.ready .tile {
  transition: 0.12s ease-in;
}

.slide-puzzle {
  padding: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.slide-puzzle .board {
  margin: auto;
}

.board {
  object-fit: contain;
}

.slide-puzzle header,
.slide-puzzle footer {
  text-align: center;
}

.slide-puzzle footer {
  width: 20em;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.counter,
button.reset,
button.share {
  background-color: transparent;
  font-size: 75%;
  padding: 3em 1em 0.25em;
  height: 4em;
}

.counter {
  font-weight: normal;
  position: relative;
  text-transform: capitalize;
  pointer-events: none;
}

.counter span {
  font-size: 250%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

button.reset,
button.share {
  position: absolute;
  left: 0;
  top: 0;
}

button.share {
  right: 0;
  left: auto;
}

span {
  display: block;
}

button {
  color: inherit;
}

button:hover svg {
  color: #fff;
  transition: 0.4s ease;
}

button svg {
  color: #eee;
  position: absolute;
  top: 0;
}

.icon-fill {
  fill: currentColor;
}

.icon-stroke {
  stroke-width: 2;
  stroke: currentColor;
}
